.container{
    margin-top: 100px;
    width: 40vw;
}
.col-form-label{
    margin-top: 50px;
    width: 250px;
}
.form-control{
    width: 220px;
}
.clarification{
    margin-top: -12px;
    margin-bottom: 10px;
    font-size: 10px;
}
.btn{
        margin-top: 30px;
        
}
body{
    font-family: 'Roboto', sans-serif;
}